.timer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}
.field {
    display: flex;
    flex-direction: column;
}
.value {
    font-size: 35px;
}
#datetime-picker {
    width: 200px;
}